:root {
  font-size: 62.5%;
  --font-primary: 'Overpass', 'san-serif';
  --font-secondary: 'Ubuntu', 'san-serif';
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --color-bg-light-red: hsl(13, 100%, 72%);
  --color-bg-red: hsl(353, 100%, 62%);
  --color-bg-2: #fafafa; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }
  @media only screen and (max-width: 500px) {
    body {
      font-size: 50%; } }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px var(--light-red);
  border-radius: 1rem; }

::-webkit-scrollbar-thumb {
  background: #ff2c4f;
  border-radius: 1rem; }

::-webkit-scrollbar-thumb:hover {
  background: var(--light-red); }

body {
  font-family: var(--font-primary);
  font-size: 1.6rem; }

.header__content {
  text-align: center; }

.header h1 {
  font-size: 7rem; }

.header h2 {
  font-size: 2rem; }

.header .btn-group {
  margin-top: 5rem; }

@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 4rem; }
  .header h2 {
    font-size: 2rem; }
  .header .btn-group {
    margin-top: 3rem; } }

.hero__section {
  background: url("../../images/bg-pattern-intro.svg"), linear-gradient(to right bottom, var(--color-bg-light-red), var(--color-bg-red));
  background-position: center center;
  object-fit: contain;
  border-radius: 0rem 0rem 0rem 20rem; }

.header {
  width: 100vw;
  color: var(--white); }
  .header__content {
    padding: 23rem 0rem; }

body {
  background-color: var(--color-bg-2); }

@media only screen and (max-width: 850px) {
  .hero__section {
    overflow-x: hidden;
    border-radius: 0rem 0rem 0rem 10rem; } }

@media only screen and (max-width: 500px) {
  .hero__section {
    overflow-y: hidden; } }

.about {
  margin: 5rem 0rem;
  padding: 10rem 0rem;
  position: relative;
  background-color: var(--color-bg-2);
  line-height: 2;
  overflow-x: hidden; }
  .about h1,
  .about h2 {
    color: var(--very-dark-blue); }
  .about h1 {
    text-align: center;
    font-size: 4rem; }
  .about h2 {
    font-size: 3rem; }
  .about__content {
    display: flex;
    height: 80vh; }
    .about__content--text {
      width: 50%;
      margin-left: 20rem;
      margin-top: 5rem; }
      .about__content--text-1 {
        margin-top: 3rem;
        color: var(--very-dark-grayish-blue);
        width: 65%; }
      .about__content--text-2 {
        margin-top: 3rem;
        color: var(--very-dark-grayish-blue);
        width: 65%; }
    .about__content--img {
      position: absolute;
      right: -25rem;
      bottom: 5rem; }
      .about__content--img img {
        width: 95rem; }

@media only screen and (max-width: 1024px) {
  .about {
    padding: 0rem; }
    .about h1 {
      margin-top: 5rem;
      margin-bottom: 1.5rem; }
    .about__content {
      display: flex;
      flex-direction: column;
      height: auto; }
      .about__content--text {
        width: fit-content;
        margin-left: 0rem;
        margin: 0rem 20rem;
        text-align: center;
        order: 2; }
        .about__content--text-1 {
          width: 100%; }
        .about__content--text-2 {
          width: 100%;
          margin-bottom: 5rem; }
      .about__content--img {
        position: relative;
        margin: 0 auto;
        right: 0;
        bottom: 0;
        order: 1; }
        .about__content--img img {
          width: 45rem; } }

@media only screen and (max-width: 500px) {
  .about {
    padding: 0rem; }
    .about h1 {
      font-size: 3rem;
      margin-top: 0rem; }
    .about h2 {
      font-size: 2rem; }
    .about__content {
      height: auto; }
      .about__content--text {
        margin: 0rem 2rem; }
      .about__content--img {
        margin-top: 5rem; }
        .about__content--img img {
          width: 35rem; } }

.info {
  display: flex;
  justify-content: flex-end;
  padding: 13rem;
  position: relative;
  background-color: #31334d;
  border-radius: 0rem 10rem 0rem 10rem;
  background-image: url("../../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position-x: -15rem;
  background-position-y: -50rem; }
  .info__img--group-1 {
    position: absolute;
    top: -10rem;
    left: 10rem;
    z-index: 2; }
  .info__text {
    padding-left: 2rem;
    width: 50%; }
    .info__text h1 {
      color: var(--white);
      font-size: 4rem;
      margin-bottom: 1rem; }
    .info__text p {
      color: var(--color-bg-2);
      font-size: 2rem;
      width: 90%; }

@media only screen and (max-width: 1200px) {
  .info {
    padding: 10rem 2rem 5rem 10rem; }
    .info__text {
      width: 45%;
      padding-left: 0rem; }
    .info__img--group-1 {
      width: 50%;
      top: -10rem;
      left: 0rem; } }

@media only screen and (max-width: 850px) {
  .info {
    justify-content: center;
    text-align: center;
    padding: 0rem;
    margin-top: 13rem; }
    .info__text {
      width: 75%;
      margin-top: 30rem;
      margin-bottom: 10rem; }
      .info__text h1 {
        color: var(--white);
        font-size: 4rem;
        margin-bottom: 1rem; }
      .info__text p {
        color: var(--color-bg-2);
        font-size: 2rem; }
    .info__img--group-1 {
      top: -10rem;
      left: 20rem; } }

@media only screen and (max-width: 768px) {
  .info__text {
    text-align: center;
    margin-top: 30rem;
    width: 100%; }
    .info__text p {
      width: 100%; }
  .info__img--group-1 {
    top: -10rem;
    left: 13rem; } }

@media only screen and (max-width: 500px) {
  .info {
    padding: 0rem;
    background-position-x: -30rem;
    background-position-y: -55rem; }
    .info__text {
      margin-top: 30rem;
      width: 69%; }
    .info__img--group-1 {
      width: 90%;
      top: -10rem;
      left: 2rem; } }

.special {
  margin: 5rem 0rem;
  padding: 10rem 0rem;
  position: relative;
  background-color: var(--color-bg-2);
  line-height: 2;
  overflow-x: hidden; }
  .special h1,
  .special h2 {
    color: var(--very-dark-blue); }
  .special h1 {
    text-align: center;
    font-size: 4rem; }
  .special h2 {
    font-size: 3rem; }
  .special__content {
    display: flex;
    justify-content: flex-end;
    height: 80vh; }
    .special__content--text {
      width: 50%;
      margin-left: 20rem;
      margin-top: 5rem; }
      .special__content--text-1 {
        margin-top: 3rem;
        color: var(--very-dark-grayish-blue);
        width: 65%; }
      .special__content--text-2 {
        margin-top: 3rem;
        color: var(--very-dark-grayish-blue);
        width: 65%; }
    .special__content--img {
      position: absolute;
      left: -28rem;
      bottom: 10rem; }

@media only screen and (max-width: 1024px) {
  .special {
    padding: 0rem; }
    .special h1 {
      margin-top: 5rem;
      margin-bottom: 1.5rem; }
    .special__content {
      display: flex;
      flex-direction: column;
      height: auto; }
      .special__content--text {
        width: fit-content;
        margin-left: 0rem;
        margin: 0rem 20rem;
        text-align: center;
        order: 2; }
        .special__content--text-1 {
          width: 100%; }
        .special__content--text-2 {
          width: 100%;
          margin-bottom: 5rem; }
      .special__content--img {
        position: relative;
        margin: 0 auto;
        left: 0;
        bottom: 0;
        order: 1; }
        .special__content--img img {
          width: 45rem; } }

@media only screen and (max-width: 500px) {
  .special {
    padding: 0rem; }
    .special h1 {
      font-size: 3rem;
      margin-top: 0rem; }
    .special h2 {
      font-size: 2rem; }
    .special__content {
      height: auto; }
      .special__content--text {
        margin: 0rem 2rem; }
      .special__content--img {
        margin-top: 5rem; }
        .special__content--img img {
          width: 35rem; } }

.footer {
  border-radius: 0rem 10rem 0rem 0rem;
  background-color: #31334d; }
  .footer__main {
    display: flex;
    justify-content: space-around;
    padding: 10rem 0rem 5rem 0rem;
    line-height: 2; }
    .footer__main img {
      width: 15rem;
      height: 6rem; }
  .footer__list {
    list-style: none; }
  .footer__brand {
    font-size: 3rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 700; }
  .footer__link {
    color: var(--color-bg-2);
    text-decoration: none;
    font-size: 2rem; }
  .footer .attribution {
    font-size: 3rem;
    text-align: center;
    background-color: #31334d;
    padding: 2rem;
    color: #bdbdbd; }
  .footer .attribution a {
    color: #e3e3e3; }

@media only screen and (max-width: 768px) {
  .footer__main {
    display: grid;
    text-align: center; }
  .footer__list {
    margin-top: 3rem; } }

@media only screen and (max-width: 500px) {
  .footer .attribution {
    font-size: 2rem; } }

.show {
  background: linear-gradient(to right bottom, var(--color-bg-light-red), var(--color-bg-red));
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); }

.navbar {
  position: fixed;
  width: 100%;
  color: var(--white);
  font-family: inherit;
  z-index: 100; }
  .navbar__toggle--btn {
    font-size: 3rem;
    cursor: pointer;
    z-index: 10000; }
  .navbar__mobile {
    display: none; }
  .navbar__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    width: 100%;
    margin: 0 auto; }
  .navbar__brand-img {
    object-fit: contain;
    width: 15rem;
    padding: 1rem; }
  .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
  .navbar__item {
    margin-left: 3rem; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: var(--white); }

.hidden {
  display: none; }

@media only screen and (max-width: 850px) {
  .navbar__nav {
    display: none; }
  .navbar__mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    padding: 0rem;
    padding-top: 1rem;
    width: 100%;
    margin: 0; }
    .navbar__mobile--list {
      list-style: none;
      position: absolute;
      top: 0rem;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-image: linear-gradient(to right bottom, var(--color-bg-light-red), var(--color-bg-red));
      transform: translateY(-100%);
      transition: transform 0.5s ease-in-out; }
    .navbar__mobile .active {
      overflow-x: hidden;
      transform: translateY(0%); }
    .navbar__mobile .navbar__brand {
      margin-left: 1rem;
      padding: 1rem; }
      .navbar__mobile .navbar__brand img {
        width: 13rem; }
    .navbar__mobile .navbar__toggle--btn {
      margin-right: 2rem; } }

.btn {
  font-size: 2rem;
  border: none;
  margin-right: 1rem;
  font-weight: 600;
  color: var(--white);
  background: transparent;
  font-family: inherit; }
  .btn-signup {
    background-color: white;
    border-radius: 14rem;
    padding: 1rem 3rem;
    color: #ff2c4f; }
    .btn-signup-1 {
      border: 0.1rem solid var(--white); }
  .btn-home {
    padding: 1rem 3rem;
    border: 0.1rem solid var(--white);
    border-radius: 14rem; }

select {
  border: 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  background: transparent;
  appearance: none;
  font-family: inherit;
  outline: none;
  padding: 0rem 1rem;
  width: 15rem; }
  select option {
    color: black;
    background-color: transparent;
    padding: 0.5rem 3rem;
    min-height: 1.5em; }

.custom-select {
  position: relative; }

.custom-arrow {
  position: absolute;
  display: block;
  fill: var(--white);
  height: 1.3rem;
  width: 2rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
  top: 0;
  right: 0;
  pointer-events: none; }
