.btn {
  font-size: 2rem;
  border: none;
  margin-right: 1rem;
  font-weight: 600;
  color: var(--white);
  background: transparent;
  font-family: inherit;

  &-signup {
    background-color: white;
    border-radius: 14rem;
    padding: 1rem 3rem;
    color: rgb(255, 44, 79);

    &-1 {
      border: 0.1rem solid var(--white);
    }
  }

  &-home {
    padding: 1rem 3rem;
    border: 0.1rem solid var(--white);
    border-radius: 14rem;
  }
}
