.show {
  background: linear-gradient(
    to right bottom,
    var(--color-bg-light-red),
    var(--color-bg-red)
  );
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.navbar {
  position: fixed;
  width: 100%;

  color: var(--white);
  font-family: inherit;
  z-index: 100;

  &__toggle--btn {
    font-size: 3rem;
    cursor: pointer;
    z-index: 10000;
  }

  &__mobile {
    display: none;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem 0rem;

    width: 100%;
    margin: 0 auto;
  }

  &__brand {
    &-img {
      object-fit: contain;
      width: 15rem;
      padding: 1rem;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
  }

  &__item {
    margin-left: 3rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--white);
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 850px) {
  .navbar {
    &__nav {
      display: none;
    }
  }

  .navbar__mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    padding: 0rem;
    padding-top: 1rem;

    width: 100%;
    margin: 0;

    &--list {
      list-style: none;
      position: absolute;

      top: 0rem;

      height: 100vh;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      background-image: linear-gradient(
        to right bottom,
        var(--color-bg-light-red),
        var(--color-bg-red)
      );
      transform: translateY(-100%);
      transition: transform 0.5s ease-in-out;
    }

    // &--item {
    //   margin: 5rem 0rem;
    //   text-align: center;
    // }

    .active {
      overflow-x: hidden;
      transform: translateY(0%);
    }

    .navbar__brand {
      margin-left: 1rem;
      padding: 1rem;

      img {
        width: 13rem;
      }
    }
    .navbar__toggle--btn {
      margin-right: 2rem;
    }
  }
}
