select {
  border: 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  background: transparent;
  appearance: none;
  font-family: inherit;
  outline: none;
  padding: 0rem 1rem;
  width: 15rem;

  option {
    color: black;
    background-color: transparent;
    padding: 0.5rem 3rem;
    min-height: 1.5em;
  }
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  display: block;
  fill: var(--white);
  height: 1.3rem;
  width: 2rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
  top: 0;
  right: 0;
  pointer-events: none;
}
