:root {
  font-size: 62.5%;

  // Fonts
  --font-primary: 'Overpass', 'san-serif';
  --font-secondary: 'Ubuntu', 'san-serif';

  // Colors
  // (CTA text)
  --light-red: hsl(356, 100%, 66%);
  // (CTA hover background)
  --very-light-red: hsl(355, 100%, 74%);
  // (headings)
  --very-dark-blue: hsl(208, 49%, 24%);
  // (text)
  --white: hsl(0, 0%, 100%);
  // (body copy)
  --very-dark-grayish-blue: hsl(207, 13%, 34%);

  // footor
  // (footer text)
  --grayish-blue: hsl(240, 2%, 79%);
  // (footer background)
  --very-dark-black-blue: hsl(240, 10%, 16%);

  // BG Graident
  --color-bg-light-red: hsl(13, 100%, 72%);
  --color-bg-red: hsl(353, 100%, 62%);
  --color-bg-2: #fafafa;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  @media only screen and (max-width: 500px) {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px var(--light-red);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 44, 79);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-red);
}
