body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
}

.header {
  &__content {
    text-align: center;
  }

  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 2rem;
  }

  .btn-group {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2rem;
    }

    .btn-group {
      margin-top: 3rem;
    }
  }
}
