.footer {
  border-radius: 0rem 10rem 0rem 0rem;
  background-color: #31334d;

  &__main {
    display: flex;
    justify-content: space-around;

    padding: 10rem 0rem 5rem 0rem;
    line-height: 2;

    img {
      width: 15rem;
      height: 6rem;
    }
  }
  &__list {
    list-style: none;
  }
  &__brand {
    font-size: 3rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
  }

  &__link {
    color: var(--color-bg-2);
    text-decoration: none;
    font-size: 2rem;
  }

  .attribution {
    font-size: 3rem;
    text-align: center;
    background-color: #31334d;
    padding: 2rem;
    color: hsl(0, 0%, 74%);
  }
  .attribution a {
    color: hsl(0, 0%, 89%);
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &__main {
      display: grid;
      text-align: center;
    }
    &__list {
      margin-top: 3rem;
    }
  }
}
@media only screen and (max-width: 500px) {
  .footer {
    .attribution {
      font-size: 2rem;
    }
  }
}
