.hero__section {
  background: url('../../images/bg-pattern-intro.svg'),
    linear-gradient(
      to right bottom,
      var(--color-bg-light-red),
      var(--color-bg-red)
    );
  background-position: center center;
  object-fit: contain;
  border-radius: 0rem 0rem 0rem 20rem;
}
.header {
  width: 100vw;
  color: var(--white);

  &__content {
    padding: 23rem 0rem;
  }
}
body {
  background-color: var(--color-bg-2);
}

@media only screen and (max-width: 850px) {
  .hero__section {
    overflow-x: hidden;
    border-radius: 0rem 0rem 0rem 10rem;
  }
}

@media only screen and (max-width: 500px) {
  .hero__section {
    overflow-y: hidden;
  }
}
