.info {
  display: flex;
  justify-content: flex-end;
  padding: 13rem;
  position: relative;
  background-color: #31334d;
  border-radius: 0rem 10rem 0rem 10rem;
  background-image: url('../../images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-position-x: -15rem;
  background-position-y: -50rem;

  &__img--group {
    &-1 {
      position: absolute;
      top: -10rem;
      left: 10rem;
      z-index: 2;
    }
  }

  &__text {
    padding-left: 2rem;
    width: 50%;
    h1 {
      color: var(--white);
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    p {
      color: var(--color-bg-2);
      font-size: 2rem;
      width: 90%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .info {
    padding: 10rem 2rem 5rem 10rem;

    &__text {
      width: 45%;
      padding-left: 0rem;
    }
    &__img--group {
      &-1 {
        width: 50%;
        top: -10rem;
        left: 0rem;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .info {
    justify-content: center;
    text-align: center;
    padding: 0rem;
    margin-top: 13rem;

    &__text {
      width: 75%;
      margin-top: 30rem;
      margin-bottom: 10rem;

      h1 {
        color: var(--white);
        font-size: 4rem;
        margin-bottom: 1rem;
      }
      p {
        color: var(--color-bg-2);
        font-size: 2rem;
      }
    }
    &__img--group {
      &-1 {
        top: -10rem;
        left: 20rem;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .info {
    &__text {
      text-align: center;
      margin-top: 30rem;
      width: 100%;

      p {
        width: 100%;
      }
    }
    &__img--group {
      &-1 {
        top: -10rem;
        left: 13rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .info {
    padding: 0rem;
    background-position-x: -30rem;
    background-position-y: -55rem;
    &__text {
      margin-top: 30rem;
      width: 69%;
    }
    &__img--group {
      &-1 {
        width: 90%;
        top: -10rem;
        left: 2rem;
      }
    }
  }
}
