.special {
  margin: 5rem 0rem;
  padding: 10rem 0rem;
  position: relative;
  background-color: var(--color-bg-2);
  line-height: 2;
  overflow-x: hidden;

  h1,
  h2 {
    color: var(--very-dark-blue);
  }

  h1 {
    text-align: center;
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    height: 80vh;

    &--text {
      width: 50%;
      margin-left: 20rem;
      margin-top: 5rem;

      &-1 {
        margin-top: 3rem;
        color: var(--very-dark-grayish-blue);
        width: 65%;
      }

      &-2 {
        margin-top: 3rem;
        color: var(--very-dark-grayish-blue);
        width: 65%;
      }
    }

    &--img {
      position: absolute;
      left: -28rem;
      bottom: 10rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .special {
    padding: 0rem;
    h1 {
      margin-top: 5rem;
      margin-bottom: 1.5rem;
    }
    &__content {
      display: flex;
      flex-direction: column;
      height: auto;

      &--text {
        width: fit-content;
        margin-left: 0rem;
        margin: 0rem 20rem;
        text-align: center;
        order: 2;

        &-1 {
          width: 100%;
        }

        &-2 {
          width: 100%;
          margin-bottom: 5rem;
        }
      }

      &--img {
        position: relative;
        margin: 0 auto;
        left: 0;
        bottom: 0;
        order: 1;

        img {
          width: 45rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .special {
    padding: 0rem;

    h1 {
      font-size: 3rem;
      margin-top: 0rem;
    }

    h2 {
      font-size: 2rem;
    }

    &__content {
      height: auto;
      &--text {
        margin: 0rem 2rem;
      }

      &--img {
        margin-top: 5rem;

        img {
          width: 35rem;
        }
      }
    }
  }
}
